@model Teacher
@{
    ViewData["Title"] = "Edit";
}<h2>Edit Teacher</h2>
<hr>
<div class="row">
    <div class="col-8">
        <form asp-controller="Teacher" asp-action="Edit" method="post">
            <input type="hidden" asp-for="TeacherId">
            <div class="mb-3">
                <label asp-for="TeacherName" class="form-label"></label>
                <input asp-for="TeacherName" class="form-control">
            </div>
            <div class="mb-3">
                <label asp-for="TeacherSurname" class="form-label"></label>
                <input asp-for="TeacherSurname" class="form-control">
            </div>
            <div class="mb-3">
                <label asp-for="TeacherEmail" class="form-label"></label>
                <input asp-for="TeacherEmail" class="form-control">
            </div>
            <div class="mb-3">
                <label asp-for="TeacherPhone" class="form-label"></label>
                <input asp-for="TeacherPhone" class="form-control">
            </div>
            <div class="mb-3">
                <label asp-for="StartDate" class="form-label"></label>
                <input asp-for="StartDate" class="form-control">
            </div>
            <button type="submit" class="btn btn-secondary">Edit</button>
        </form>
    </div>
    <div class="col-4">
        <h4>Courses</h4>
        @* <hr>
        <ul>
            @foreach(var item in Model.CourseRegisters)
            {
                <li>@item.Student.StudentFullName</li>
            }
        </ul> *@
    </div>
</div>