@model Course
@{
    ViewData["Title"] = "Create";
}
<h2>Create Course</h2>
<hr>
<form asp-controller="Course" asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="CourseName" class="form-label"></label>
        <input asp-for="CourseName" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="CourseDescription" class="form-label"></label>
        <input asp-for="CourseDescription" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="CourseImageUrl" class="form-label"></label>
        <input asp-for="CourseImageUrl" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="TeacherId" class="form-label">Teacher</label>
        <select asp-for="TeacherId" asp-items="ViewBag.Teachers" class="form-select">
            <option value="">Select</option>
        </select>
    </div>

    <button type="submit" class="btn btn-secondary">Create</button>
</form>